.info_popup {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 290px;
  height: 65px;
  background: #f3f6ff;
  border: 0.5px solid rgba(0, 0, 0, 0.14);
  backdrop-filter: blur(30px);
  border-radius: 4px;
  color: #2c2d41;
  right: 300px;
  left: auto;

  &.hide {
    display: none;
  }

  .close-info {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
  }

  .info_icon {
    width: auto;
    height: 44px;
    background-repeat: no-repeat;
    align-self: center;
    padding: 0 10px;
  }

  .info_popup_title,
  .info_popup_description {
    text-align: left;
  }

  .info-content {
    display: flex;
    align-items: center;
  }

  .info_popup_description {
    font-family: "Open Sans", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    padding-right: 35px;
    color: #2b2d42;
  }

  .info_popup_title {
    font-size: 19px;
    line-height: 1;
    font-style: normal;
    font-weight: bold;
    margin-bottom: 7px;
  }
}

@media only screen and (max-width: 790px) {
  .map_info_container {
    position: absolute;
    top: 30px;
    width: 100%;
    text-align: center;
    z-index: 4;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding-top: 30px;

    .map_info.zone,
    #select_pin {
      position: static;
      margin-top: 20px;
    }
  }
}
