.subscribe-form {
  position: relative;
  width: 100%;
  height: 45px;
  .input-email {
    width: 65%;
  }
  .input-email,
  .input-email-footer {
    height: 44px;
    padding: 0 10px;
    background: white;
    border-radius: 12px;
    border: 2px solid #6a6a6a;
    outline: none;
    margin: 0;
  }
  .input-email-footer {
    border: 0.5px solid #000000;
    border-right: none;
    width: 320px;
    border-radius: 12px 0px 0px 12px;
  }
  .btn {
    width: 35%;
  }

  .btn,
  .btn-footer {
    height: 44px;
    border-radius: 0px 12px 12px 0px;
    background: #f4ac3d;
    font-weight: bold;
    font-size: 0.8em;
    line-height: 0.9em;
    text-align: center;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    color: #ffffff;
    border: none;
    cursor: pointer;
    z-index: 9;
    transition: all 0.3s ease;
    margin: 0;
    position: absolute;
    top: 0;
    &:hover {
      background-color: #61b1ee;
    }
    &.mobileSend {
      width: 55px;
      height: 44px;
      padding: 10px 0;
    }
  }
  .btn-footer {
    position: inherit;
    width: 141px;

    &:hover {
      background-color: #2c2d41;
    }
  }
}
.subscribe-form.take-action-landing {
  .btn,
  .btn-footer {
    background: #2c2d41;
    width: 190px;
    right: 35px;
    &:hover {
      background-color: #61b1ee;
    }
  }
}

@media only screen and (max-width: 912px) {
  .subscribe-form {
    .input-email,
    .input-email-footer {
      width: 55%;
    }
    .btn,
    .btn-footer {
      width: 45%;
    }
  }
}
@media only screen and (max-width: 600px) {
  .subscribe-form {
    form {
      margin-left: auto;
      margin-right: auto;
      height: 45px;
      width: 324px;
      position: relative;
      .input-email-footer {
        min-width: 273px;
        position: absolute;
        left: 0;
      }
      .btn,
      .btn-footer {
        position: absolute;
        right: 0;
      }
    }
  }
}
