/* Our Mission */

.our_mission_container {
  width: 100%;
}
.mission_vision_wrapper {
  position: absolute;
  display: flex;
  flex-direction: column;
  top: 18%;
  left: 25%;
  right: 25%;
  text-align: center;
}
.our_mission_title {
  font-family: Open Sans;
  font-weight: bold;
  font-size: 30px;
  line-height: 41px;
  text-align: center;
  color: #528fec;
}

.mission_paragraph {
  font-family: Open Sans;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0px;
}

.our_mission_background {
  position: relative;
  height: 350px;
}

.what_we_do_container {
  color: white;
  background: rgba(44, 45, 65, 1);
  height: 490px;
  position: relative;
  padding-top: 20px;
  margin-top: 40px;
  text-align: center;

  &::after {
    content: '';
    position: absolute;
    bottom: -50px;

    border: 50px solid transparent;
    border-top-color: rgba(44, 45, 65, 1);
    border-bottom: 60px;
    margin-left: -50px;
  }

  .what_we_do_title {
    font-family: Open Sans;
    font-weight: bold;
    font-size: 32px;
    line-height: 41px;
  }

  .what_we_do {
    max-width: 800px;
    font-weight: bold;
    width: 100%;
    padding-top: 2%;
    font-size: 18px;
    margin: auto;
  }
  .what_we_do_paragraph {
    padding: 0 15% 0 15%;
  }
  .building_icon {
    margin-left: 35%;
  }
  .education_icon {
    margin-left: 35%;
  }
  .monitoring_icon {
    margin-left: 35%;
  }
  .details_container {
    display: flex;
    justify-content: space-around;
    padding-top: 20px;

    .education_container {
      width: 350px;
      height: auto;
    }

    .building_container {
      width: 350px;
      height: auto;
    }

    .monitoring_container {
      width: 350px;
      height: auto;
    }
    .what_we_do_desc {
      padding-top: 20px;
    }
  }
}

@media only screen and (max-width: 1064px) {
  .our_mission_container {
    margin-top: 0px;
    width: 100%;
  }

  .our_mission_background {
    width: 100%;
    height: 220px;
  }

  .mission_vision_wrapper {
    position: absolute;
    display: block;
    top: -10%;
    left: 12%;
    right: 12%;
    text-align: center;
  }
  .our_mission_title {
    font-family: Open Sans;
    font-weight: bold;
    font-size: 20px;
    line-height: 41px;
    text-align: center;
    color: #528fec;
  }

  .mission_paragraph {
    font-family: Open Sans;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0px;
  }
  .mission_content {
    line-height: 24px;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    padding: 0px 20px 40px 20px;
  }
  .what_we_do {
    font-size: 20pxpx;
  }

  .what_we_do_container {
    height: auto;
  }

  .what_we_do_paragraph {
    font-size: 16px;
    padding: 0px 20px 0px 20px;
  }

  .details_container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    .education_container,
    .building_container,
    .monitoring_container {
      display: block;
      margin: auto;
      padding-top: 40px;
      height: auto;
    }
    .education_icon,
    .building_icon,
    .monitoring_icon {
      width: 100px;
      height: 100px;
    }
  }
}
