.why_container {
  margin-top: 100px;
  width: 100%;

  h1 {
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 41px;
    text-align: center;
    padding: 0 24% 0 24%;
    color: #528fec;
  }

  p {
    font-size: 16px;
    line-height: 150%;
    text-align: center;
    margin: auto;
    padding: 0 24% 0 24%;
    color: #2c2d41;
  }
}

.goal_images_container {
  justify-content: center;
  width: 43%;
  margin: 2% 28% 0 28%;
  height: auto;
}

.goal_images_one {
  display: flex;
  justify-content: space-evenly;
}
.goal_images_two {
  margin-top: 10px;
  display: flex;
  padding: 0 12% 0 12%;
  justify-content: space-evenly;
}

.goals_container {
  display: block;
  margin-top: 40px;
  margin-bottom: 20px;
  display: flex;
  justify-content: space-evenly;
}

@media only screen and (max-width: 1064px) {
  h1.why,
  h1.alignment,
  h1.vision {
    font-size: 20px;
    line-height: 27.24px;
  }

  h1.vision {
    padding: 0px 60px 0px 60px;
  }

  .container {
    overflow-x: auto;
  }
  .why_details,
  .alignment_details,
  .vision_details {
    overflow: hidden;
    width: 335px;
    height: 144px;
  }

  .goal_images_one {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }
  .goal_images_two {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }

  .goals_container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }
}
